.singleProductDiv {
  margin-top: 100px;
}

.product-details {
  padding: 20px;
}

.rating-div,
.product-price,
.product-description,
.buyDiv {
  margin: 10px 0;
}

.rating-div {
  display: flex;
  font-size: 1.2em;
}

.rating-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.ratingNumber-span {
  margin-right: 5px;
}

.product-price {
  align-items: center;
}

.price {
  font-size: 1.8em;
}

.stock {
  margin: 0 20px;
}

.buyDiv {
  justify-content: space-between;
}

.product-images {
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 150px;
}

.product-thumbnail {
  object-fit: fill;
}

.main-image {
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrowDiv {
  justify-self: flex-end;
}

/* @media screen and (max-width: 576px) {
  .main-image {
    height: 300px;
  }
} */

.arrow {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 48px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  margin: 0 20px;
  border: 0;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(161, 161, 161, 0.829);
}

@media screen and (max-width: 1200px) {
  .product-thumbnail,
  .thumbnails-div {
    display: none;
    width: 0px;
    padding: 0;
  }
}

.active {
  opacity: 1;
}

.thumbnails-div {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-content: flex-start;
}

.thumbnails-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thumbnails-div::-webkit-scrollbar {
  display: none;
  width: 0;
}
