.labelAndInput {
    margin: 20px 0;
}

.priceInput {
    margin-left: 10px;
    width: 120px;
}

.productInput {
    height: 40px;
    padding: 15px;
}

.categoryButton {
    margin-top: 20px;
    align-self: flex-end;
    padding: 6px 12px;
    border: 2px solid black;
}

.categoryButton:hover {
    border: 2px solid black;
    background-color: lightgray;
}

.form-check{
    display: flex;
    flex-direction: column;
}

.btn {
    margin: auto 10px;
}

.imgProductInput {
    margin-bottom: 20px;
}