.filterContainer1 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.filterAccordion {
  /* margin-top: 20px; */
  margin-right: 25px;
  max-width: 10%;
  width: 250px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
