<<<<<<< HEAD
.card-title {
  color: grey;
  text-align: center;
=======
.card-title{
    color: grey;
    text-align: center;
    font-size: 0.9em;

>>>>>>> eeca428dcf04f654e3e07699e31ace153159ddf7
}

.image-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
.card-img {
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.button-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
  border: 3px solid green;
  border-radius: 12px;
  border-color: grey;
}

.container-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
=======
.card-img{
    border-radius: 10px;
    width: 220px;
    height: 220px;
}

.card:hover .card-img {
    -webkit-transform:scale(2);
    transform:scale(1.09);
}

.buttonItem{
    border-radius: 13px;
    background: #04915036;
    border: none;
}

.container-grid { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.card {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: 0.25rem; */
    border: none;
>>>>>>> eeca428dcf04f654e3e07699e31ace153159ddf7
}

.container-grid > a {
  text-decoration: none;
}
