.shadow{
    box-shadow: 0px -5px 10px 2px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
}

.dropdown1{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 0.95em;
}

.iconNavbar{
    margin-top:4px;
    margin-right: 20px;
    font-size:1.5em;
    color: black
}
.margin{
    margin: 0;
}
.title{
    margin-left: 10px;
    font-size: 1.7em;
}
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: -webkit-fill-available;
}
.me-auto {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-around;
}